body {
    font-family: bahnschrift;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 20px;
}
form {
    background: rgb(173, 226, 245);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: auto;  
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Barlow;
    font-size: 25px;
    padding: 15px;
    background-color: hsl(212, 90%, 25%);
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}

#studentForm button {
    background-color: rgb(121, 2, 91);
}
.btn-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.btn-container button {
    flex: 1;
}
#search-receipt {
    font-size: 22px; /* Set the input text font size */
    padding: 10px;
    width: 100%;
    color: rgb(93, 2, 47);
    align-items: center;
    font-family: bahnschrift;
}

/* Style for the placeholder text */
#search-receipt::placeholder {
    font-size: 17px; /* Increase the placeholder font size */
    color: gray; /* Optional: Set the color */
}

input {
    color: #063182;
    font-size: 21px;
    font-family: bahnschrift;
}
.btn-submit {
        display: flex;
        justify-content: space-between; /* Ensures equal space between buttons */
        gap: 10px; /* Adds consistent gap between the buttons */
}
    
.btn-submit button {
        flex: 1;
        padding: 10px;
}
#previous-receipt-container {
        color: #a72e28;
}

option {
        color: rgb(0, 25, 106); /* Optional: Set the color */
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }

  input,
  select,
  button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #590047;
    font-family: bahnschrift;
    font-size: 20px;
  }

  button {
    background: #5f0054;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

  button:hover {
    background: #0056b3;
  }


  
